body{
  margin: auto;
  width: 50%;
  padding: 10px;
}

.coding {
    text-align: center;
}

.button{
    background-color: rgb(26, 165, 230);
    border-radius: 4px;
}
.scores a {
    cursor: pointer;
} 

a { 
	position:fixed; 
	top:0; 
	left:0; 
} 

.p {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
}
